<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAppService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pefr-zbook-w11:8002/TECSYS/DATASERVICE"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAppService"
                contract="DataService.IAppService" name="BasicHttpBinding_IAppService" />
        </client>
    </system.serviceModel>
</configuration>